#main_head {
    padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 28px;
    text-align: center;
    color: white;
    background-color: teal;
    border: 30px double rgba(255,255,255,0.48);
  }
body {
    background: #efeee7;
}

h1{
    font-family: Georgia, serif;
    font-size: 30px;
    letter-spacing: 0px;
    word-spacing: 3px;
    color: teal;
    font-weight: 400;
    font-style: italic;

}
#visualizations {
    padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 28px;
    text-align: center;
    color: white;
    background-color: teal;
    border: 30px double rgba(255,255,255,0.48);
  }

  @media(max-width:767px){
    .navbar.bg-light{
        background-color: rgb(81, 175, 160)!important;    
    }

    .navbar-collapse{
        background-color: #f8f9fa;
    }
    .navbar{
        padding:inherit;
    }
}